  <header>
      <ul>
          <li><a href="https://vishal.rs"><img id="vishalsface" src="https://en.gravatar.com/userimage/141863207/996609484de7a63f277fd21af234b00e.png" alt="Vishal's face" /></a>
          </li>
          <li>
              Vishal Patel
          </li>
          <li><a href="mailto:vishal@vishal.rs" target="_blank">E-Mail</a></li>
          <li><a href="https://linkedin.com/in/lordvishal" target="_blank">LinkedIn</a></li>
      </ul>
  </header>
  <p>I manage projects for small to medium sized companies. Most of the the work is tech focused.</p>
  <p>Most of the problems I solve are rooted in planning and communication.
I live and work in the San Francisco Bay Area. I've cut my teeth in fast paced
environments (startups, consulting, MVPs) and know a thing or two about getting things done.</p>
